#clock {
  font-size: 148px;
  text-align: center;
  color: #7cc0ff;
  margin-top: 200px;
  font-family: 'Dancing Script', cursive;
}
html {
  height: 100%;
  background-image: url("img/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
footer {
  background-color: #7cc0ff;
  padding: 20px;
  text-align: center;
}

.owner-info {
  margin-top: 20px;
}